.logout {
  margin-left: 15px;
  padding: 6px 12px;
  background: transparent;
  border: 1px solid gold;
  color: gold;
  border-radius: 6px;
  cursor: pointer;
}

.logout:hover {
  background: gold;
  color: #000;
}
