.page-container {
  display: flex;
  justify-content: flex-start; /* 左侧文案靠近中间 */
  align-items: center;
  min-height: 100vh;
  z-index: 2;
  position: relative;
  padding: 40px;
  perspective: 1000px;
}

/* 左侧 About */
.about-wrapper {
  flex: 1;
  color: #f3ba2f;
  max-width: 500px;
  transform-style: preserve-3d;
  transition: transform 0.1s ease;
  margin-left: 60px; /* 左文案稍微右移 */
}

/* 右侧登录框 */
.login-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto; /* 自动填充左侧空间，把登录框推到最右边 */
  margin-right: 40px; /* 离右边留一点边距 */
}
